#tix-attendees {
  font-size: 1em;
  .avatar {
    width: 96px !important;
    height: 96px !important;
    margin: .4em 1em 1em 0;
    border: 2px solid $lightest-blue;
    border-radius: 50%;
    pointer-events: none;
  }
  .tix-field {
    display: inline-block;
    &.tix-attendee-twitter {
      &:after {
        content: ' ' ;
        display: block;
      }
    }
  }
}