#tix-attendees {
  .tix-attendee-list {
    text-align: center;
    list-style-type: none !important;
    li {
      margin-bottom: 3em;
      @include min($xs) {
        width: 50%;
        min-height: 210px;
        height: auto !important;
        margin-bottom: 2em;
      }
      @include min($sm) {
        width: 33.33%;
      }
    }
  }
  .avatar {
    display: block;
    float: none;
    width: 96px !important;
    height: 96px !important;
    margin: 0 auto .5em;
    border: 2px solid $lightest-blue;
    border-radius: 50%;
    pointer-events: none;
  }
  .tix-field {
    display: block;
    margin: 0;
    &.tix-attendee-name {
      font-size: 1em;
    }
    &.tix-attendee-twitter, &.tix-attendee-url {
      text-decoration: underline;
      text-decoration-color:  lighten($orange, 30%);
      border: 0;
      &:after {
        content: ' ' ;
        display: block;
      }
    }
  }
}