%accent-font {
  font: bold .72em $sans-serif;
  letter-spacing: .07em;
  text-transform: uppercase;

}

%track-name {
  display: block;
  margin: 0 0 .5em 0;
  color: $blue;
  font: normal .88em $sans-serif;
  @include min($sm) {
    display: none;
  }
}

.page-slug-schedule {
  .entry-content {
    h1 {
      font-size: 1.6em;
      text-align: center;
      @include min($sm) {
        font-size: 2em;
        text-align: left;
      }
    }
  }
}

.wcpt-schedule, .tix_tickets_table {
  margin: .5em auto 2em;
  width: 90%;
  @include min($xs) {
    width: 96%;
  }
  @include min($sm) {
    width: auto;
  }
  @include min($md) {
    margin: .5em -10% 2em;

  }
  thead {
    @extend %accent-font;
    display: none;
    @include min($sm) {
      display: table-header-group;
      color: $white;
      text-align: left;
      background-color: $blue;
      border-right: 1px solid $blue;
      border-left: 1px solid $blue;
    }

  }
  tbody {
    tr {
      display: block;
      border-bottom: 1px solid lighten($lightest-blue, 7.5%);
      @include min($sm) {
        display: table-row;

      }
      &:nth-child(even) {
        background-color: lighten($lightest-blue, 13.5%);
      }
    }
    td {
      @include min($sm) {
        border-right: 1px solid lighten($lightest-blue, 7.5%);
      }
      &:first-child {
        @include min($sm) {
          border-left: 1px solid lighten($lightest-blue, 7.5%);
        }
      }
      &:nth-child(2) {
        .wcpt-session-speakers {
          &:after {
            @extend %track-name;
            content: 'Foundry';
          }
        }
      }
      &:nth-child(3) {
        .wcpt-session-speakers {
          &:after {
            @extend %track-name;
            content: 'Blast Furnace';
          }
        }
      }
    }
  }
  th, td {
    display: block;
    padding: .8em;
    @include min($sm) {
      display: table-cell;
      padding: .5em .8em;
    }
  }
  .wcpt-time {
    @extend %accent-font;
    color: $white;
    background-color: $blue;
    @include min($sm) {
      width: 15%;
      color: $text-color;
      background-color: transparent;
    }
  }
  .wcpt-session-type-session {
    max-width: 100%;
    width: 100%;
    border-right: 1px solid lighten($lightest-blue, 7.5%);
    border-left: 1px solid lighten($lightest-blue, 7.5%);
    @include min($sm) {
      width: 42.5%;
    }
  }
  .wcpt-session-empty {
    display: none;
    @include min($sm) {
      display: table-cell;
    }
  }
  .wcpt-session-speakers {
    display: block;
    font-style: italic;
    a {
      color: $text-color;
      border: 0;
      &:hover, &:focus {
      color: lighten($text-color, 15%);
    }
    }
  }
}

