.wcb_session, .wcb_sponsor {
  margin: 2em 0 3em;
  .entry-title {
  //  margin: 0 -10%;
    text-align: center;
    img {
      width: auto;
      height: auto;
    }
  }
}

.entry-meta {
  &.session-speakers {
    color: $blue;
    letter-spacing: .06em;
    text-align: center;
    .meta-sep:first-of-type {
      display: block;
      width: 1px;
      height: 1px;
      color: $body-bg;
      overflow: hidden;
    }
    &:first-line {
      color: $text-color;
      font: italic 1.38em/2 $serif;
      letter-spacing: 0;
      text-transform: none;
    }
  }
}

#session-speaker-names {
  text-align: center;
}