/* Also Organizers */

.speaker-gravatar-list {
  a {
    border: 0;
  }
  .avatar {
    border: 2px solid $lightest-blue;
    border-radius: 50%;
    &:hover {
      border-color: $light-blue;
    }
  }
}

.wcorg-organizer, .wcb_speaker {
  margin: 0 0 3em;
}

.wcorg-organizer-description, .speaker-bio, .wcorg-speaker-description {
  @include clearfix;
  .avatar-default, .avatar {
    float: left;
    margin: .4em 1em 1em 0;
    border: 2px solid $lightest-blue;
    border-radius: 50%;
    pointer-events: none;
  }
}

.wcorg-organizer-description {
  position: relative;
  margin-top: 36px;
  h3:first-of-type {
    position: absolute;
    top: -50px;
    color: $gray;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: .05em;
  }
}