%button-base {
  display: inline-block;
  padding: .5em 1em;
  font-family: $sans-serif;
//  letter-spacing: .15em;
  text-transform: uppercase;
  border: 0;
  border-radius: $border-radius;
}

%button {
  @extend %button-base;
  color: $white;
  background: $gray;
}

%button-light {
  @extend %button-base;
  color: darken($gray, 10%);
  background: lighten($light-gray, 10%);
}