input {
  padding: .3em .8em;
  color: $text-color;
  font-family: $serif;
  border-radius: $border-radius;
  border: 2px solid $light-gray;
  &:focus {
    outline: none;
    border-color: $blue;
  }
  &[type="submit"] {
    @extend %button-base;
  }
}