/* Wrappers */

#after-header-wrapper, #before-content {
  @include container;
  margin: 2em auto;
}

/* Main Content */

#main {
  @include container;
  margin: 2em auto;
  padding: 2em;
  background: $white;
}

#container {
  @include span(10);
  @include push(1);
}

/* Sidebar conditional */

body {
  &.sidebar {
    #main {
      background: transparent;
    }
    #primary {
      @include span(9);
      @include push(0);
      .entry-content {
        p {
          padding: 0;
        }
      }
    }
    #tertiary {
      @include span(3 last);
    }
  }
}



