#main {
  @include container;
  margin: 2em auto;
  background: $white;
}

#primary {
  @include span(10);
  @include push(1);
  background: $white;
}

#secondary {
  @include container;
}

/* Sidebar conditional */

body {
  &.sidebar {
    #main {
      background: transparent;
    }
    #primary {
      @include span(9);
      @include push(0);
      .entry-content {
        p {
          padding: 0;
        }
      }
    }
    #tertiary {
      @include span(3 last);
    }
  }
}



