/* After Header */

#after-header-wrapper {
  .widget_search {
    text-align: center;
    #searchform {
      > div {
        display: inline-block;
        max-width: 440px;
        width: 100%;
        @include min($md) {
          max-width: 680px;
        }
      }
      &:before {
        display: none;
        @include min($sm) {
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          vertical-align: middle;
          background: url('https://2016.lehighvalley.wordcamp.org/files/2016/03/search.png') no-repeat right center;
          background-size: contain;
        }
      }
    }
    input {
      display: inline-block;
      font-size: 1em;
      vertical-align: middle;
      &[type="text"] {
        max-width: 200px;
        width: 100%;
        margin: 0;
        @include min($xs) {
          max-width: 300px;
          margin: 0 .4em;
        }
        @include min($md) {
          max-width: 540px;
        }
      }
      &[type="submit"] {
        @extend %button-light;
        padding: 6px 18px; //firefox
        font-style: italic;
        letter-spacing: .05em;
        text-transform: none;
        border: 2px solid $lightest-gray;
        vertical-align: middle;
        &:hover {
          border: 2px solid darken($lightest-gray, 10%);
        }
      }
    }
  }
}


/* Before Content */

.before-content, #after-content {
  .xoxo {
    li {
      padding: 1em;
      vertical-align: top;
      .textwidget {
        @include min($xs) {
          font-size: .72em;
        }
      }
      .fa {
        display: block;
        margin: .2em 0;
        text-align: center;
      }
    }
  }
  .widget-title {
    text-align: center;
  }
}

.before-content {
  .xoxo {
    @include min($sm) {
      display: table;
      margin: -1em; // align the sides with main container
      border-spacing: 1em;
    }
    li {
      margin: 1em;
      @include min($sm) {
        display: table-cell;
        width: 33.33%;
        margin: 0;
      }
      &:nth-child(odd) {
        background-color: $lightest-blue;
      }
      &:nth-child(even) {
        background-color: $lightest-gray;
      }
      .textwidget {
        @include min($md) {
          font-size: 1em;
        }
      }
      .fa {
        font-size: 4em;
        @include min($lg) {
          font-size: 6em;
        }
      }
    }
  }
}


/* After Content */

#after-content {
  .xoxo {
    text-align: center;
    @include min($md) {
      display: table;
      margin: -1em; // align the sides with main container
      border-spacing: 1em;
    }
    li {
      margin: 1em;
      background-color: $lightest-gray;
      @include min($sm) {
        display: inline-block;
        width: 42%;
        margin: 0 0 1em 0;
      }
      &:nth-child(odd) {
        @include min($sm) {
          margin-right: 1em;
        }
        @include min($md) {
          margin-right: 0;
        }
      }
      @include min($md) {
        display: table-cell;
        width: 25%;
        margin: 0;
      }
      .textwidget {
        font: 1em/2 $sans-serif;
        @include min($xs) {
          font-size: .8em;
        }
      }
      .fa {
        font-size: 3em;
        @include min($lg) {
          font-size: 4em;
        }
      }
      .button--orange, .button--blue {
        @include min($xs) {
          font-size: .78em !important;
        }
      }
    }
  }
  .jetpack_subscription_widget {
    p {
      font: 1em/2 $sans-serif;
      @include min($xs) {
        font-size: .8em;
      }
    }
    input {
      &[type="submit"] {
        @extend .button--orange--small;
        line-height: 2;
      }
    }
  }
}


/* Before Footer (Sponsors) */

#before-footer {
  .wcb_widget_sponsors {
    .sponsor-level {
      @include container;
      margin-bottom: 1em;
    }
    .sponsor-level-title {
      color: $white;
      font-family: $serif;
      font-style: italic;
      margin-bottom: .5em;
    }
    .sponsor-logo {
      display: inline-block !important;
   //   padding: .5em;
   //   background-color: $white;
      vertical-align: middle;
      border-bottom-width: 0;
      @include span(12);
      @include min($md) {
        @include span(2);
      }
      &:nth-child(6n) {
        @include min($md) {
          @include span(2 last);
        }
      }
    }
  }
}

/* Content Sidebar */

#content-row-1 {
  font: 1em/2 $sans-serif;
  @include min($xs) {
    font-size: .72em;
  }
  .xoxo {
    > li {
      background: $body-bg;
      margin: 1em;
      padding: 1.36em;
      @include min($sm) {
        margin: 0 0 2em;
      }
    }
  }
}
