/* After Header */

#after-header-wrapper {
  .widget_search {
    text-align: center;
    #searchform {
      > div {
        display: inline-block;
        max-width: 720px;
        width: 100%;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        background: url('../img/search.svg') no-repeat right center;
        background-size: contain;
      }
    }
    input {
      display: inline-block;
      font-size: 1em;
      vertical-align: middle;
      &[type="text"] {
        max-width: 540px;
        width: 100%;
        margin: 0 .5em;
      }
      &[type="submit"] {
        @extend %button-light;
        font-style: italic;
        letter-spacing: .05em;
        text-transform: none;
        border: 2px solid $lightest-gray;
        &:hover {
          border: 2px solid darken($lightest-gray, 10%);
        }
      }
    }
  }
}


/* Before Content */

.before-content, #after-content {
  .xoxo {
    display: table;
    margin: -1em; // align the sides with main container
    border-spacing: 1em;
    li {
      display: table-cell;
      padding: 1em;
      vertical-align: top;
      .fa {
        display: block;
        margin: .2em 0;
        text-align: center;
      }
    }
  }
  .widget-title {
    text-align: center;
  }
}

.before-content {
  .xoxo {
    li {
      width: 33.33%;
      &:nth-child(odd) {
        background-color: $lightest-blue;
      }
      &:nth-child(even) {
        background-color: $lightest-gray;
      }
      .fa {
        font-size: 4em;
        @include min($lg) {
          font-size: 6em;
        }
      }
    }
  }
}


#after-content {
  .xoxo {
    li {
      width: 25%;
      background-color: $lightest-gray;
      .fa {
        font-size: 3em;
        @include min($lg) {
          font-size: 4em;
        }
      }
    }
  }
  .textwidget {
    font: .8em/2 $sans-serif;
  }
}

/* Content Sidebar */

#content-row-1 {
  font: .72em/2 $sans-serif;
  .xoxo {
    > li {
      background: $body-bg;
      margin: 0 0 2em;
      padding: 1.36em;
    }
  }
}
