body {
  color: $text-color;
  font: $font-size-xs $serif;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../img/triangle-bg.png');
  @include min($xs) {
    font-size: $font-size;
  }
  &.admin-bar {
    #main-menu-wrapper {
      top: 46px;
      @include min($sm) {
        top: 32px;
      }
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid lighten($orange, 30%);
  &:hover, &:focus {
    color: darken($link-color, 10%);
    border-bottom: 1px solid $orange;
  }
}

img {
  max-width: 100%;
  height: auto; // for all the width adjustments
}

#wp-calendar {
  width: 100%;
}