body {
  color: $text-color;
  font: $font-size $serif;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
//  background-image: url('../img/body-bg.png');
//  background-size: cover;
//  background-repeat: no-repeat;
//  background: linear-gradient(60deg, $white, $blue);
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid lighten($orange, 20%);
}

img {
  height: auto; // for all the width adjustments
}