/* Susy */

$susy: (
  columns: 12,
  gutters: 1/2,
  container: 1180px,
  global-box-sizing: border-box,
  // debug: (image: show)
);


/* Colors */

$white: #fff;
$dark-gray: #464342;
$blue: #10759b;
$orange: #e14a25;

$text-color: $dark-gray;
$link-color: $orange;