#comments {
  margin-top: 4em;
  .nocomments {
    display: none;
  }
}

.commentlist {
  font: .9em/2 $sans-serif;
  .comment {
    margin: .8em 0 3em;
    padding: 1.5em;
    background-color: $lightest-gray;
  }
  .children {
    padding-left: 2em;
    .comment {
      margin: 2em 0 0;
      padding: 0;
    }
  }

}

.comment-author {
  @include min($sm) {
    display: inline-block;
    margin-right: .5em;
  }
  .avatar {
    float: left;
    margin: .5em .8em .5em 0;
    border-radius: 50%;
    @include min($sm) {
      margin-top: .2em;
    }
  }
  .says {
    display: none;
  }
}

.comment-meta {
  font-size: .8em;
  font-style: italic;
  @include min($sm) {
    display: inline-block;
  }
  a {
    color: darken($gray, 10%);
    border: 0;
    &:hover, &:focus {
      color: $dark-gray;
    }
  }
}

.comment-reply-link {
  margin-top: -1em;
  font-size: .8em;
}

#commentform {
  label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }
  input[type="text"], textarea {
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
  }
  input[type="submit"] {
    @extend %button-orange;
    text-transform: none;
  }
}

.comment-notes {
  font-family: $sans-serif;
  font-size: .72em;
}

.form-allowed-tags {
  font-family: $sans-serif;
  font-size: .72em;
  code {
    font-family: monospace;
  }
}

#cancel-comment-reply-link {
  display: inline-block;
  margin-left: .5em;
  color: darken($gray, 10%);
  font-size: .69em;
  font-style: italic;
  font-weight: 400;
  border: 0;
  vertical-align: middle;
  &:hover, &:focus {
    color: $dark-gray;
  }
}