#before-footer-wrapper {
  padding: 1em;
  color: $white;
  font: 1em/2 $sans-serif;
  background-color: $light-blue;
  border-top: 5px solid $orange;
  @include min($xs) {
    padding: 1em 3em;
    font-size: .72em;
  }
  @include min($sm) {
    padding: 1em 0;
  }
  a {
    color: $white;
    border-bottom-color: $white;
    &:hover, &:focus {
      border-bottom-color: $light-orange;
    }
  }
  .xoxo {
    > li {
      margin-bottom: 2em;
      @include span(12);
    //  @include min($md) {
    //    @include span(4);
    //  }
    //  &:nth-child(3n) {
    //    @include min($md) {
    //      @include span(4 last);
    //    }
   //   }
    }
  }
  .widget-title {
    color: $white;
    font-size: 1.75em;
  }
}

#footer-wrapper {
  font: .72em/2 $sans-serif;
  text-align: center;
  background: $light-orange;
  a {
    display: inline-block;
    padding: 0 .5em;
    color: $white;
    border: 0;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

#site-info, #site-generator {
  display: inline-block;
  margin: .5em 1em;
}