#before-footer-wrapper {
  padding: 1em 0;
  color: $white;
  font: .72em/2 $sans-serif;
  background-color: $light-blue;
  border-top: 5px solid $orange;
  a {
    color: $white;
    border-bottom-color: $white;
  }
  .xoxo {
    > li {
      @include span(4);
      margin-bottom: 2em;
      &:nth-child(3), &:nth-child(6), &:nth-child(9) {  // reasonable number of rows
        @include span(4 last);
      }
    }
  }
  .widget-title {
    color: $white;
    font-size: 1.75em;
  }
}

.site-info {
  padding: 1em 0;
  text-align: center;
  background: $orange;
}