#main-menu-wrapper {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

#main-menu {
  @include container;
  font: .7em $sans-serif;
  letter-spacing: .07em;
  text-transform: uppercase;
  .menu-toggle {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .featured-button {
    @extend %button-orange;
    float: right;
    margin: .7em  0 0 1em;
    font-size: .93em;
  }
  ul {
    li {
      display: inline-block;
      a {
        display: block;
        padding: 1em 1.2em;
        color: $white;
        border: 0;
        &:hover {
          background: lighten($blue, 10%);
        }
      }
    }
  }
  .search-form {
    @include span(3 last);
  }
}