#main-menu-wrapper {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

#main-menu {
  @include container;
  font: .7em $sans-serif;
  letter-spacing: .21em;
  text-align: center;
  text-transform: uppercase;
  .menu-toggle {
    display: none;
  }
  .menu {
    width: 100%;
  }
  ul {
    li {
      display: inline-block;
      a {
        display: block;
        padding: 1em 1.2em;
        color: $white;
        border: 0;
        &:hover {
          background: lighten($blue, 20%);
        }
      }
    }
  }
  .search-form {
    @include span(3 last);
  }
}