#content .post {
  &:not(:last-of-type) {
    margin: 0 0 3em;
  }
}

/*
.post-edit-link {
  @extend %button;
  padding: .32em .8em;
  font-size: .88em;
  letter-spacing: .15em;
  line-height: 1;
} */

.entry-title {
  font-size: 1.8em;
  line-height: 1.5;
  a {
    border: 0;
  }
}

.entry-content {
  padding: 1em 0 0;
}

.entry-meta, .entry-utility {
  font-family: $sans-serif;
  font-size: .72em;
  a {
    border: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

.entry-utility {
  color: darken($gray, 5%);
}

/* Entry Navigation */

#nav-above, #nav-below {
  font: .64em $sans-serif;
  letter-spacing: .07em;
  text-transform: uppercase;
  @include clearfix;
 a {
   display: inline-block;
   padding: .2em .5em;
   color: $blue;
   background-color: lighten($lightest-blue, 10%);
   border: 0;
   border-radius: $border-radius;
   &:hover, &:focus {
     background-color: $lightest-blue;
   }
 }
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
}


/* Single Post Styles */

body.single {
  .entry-utility {
    display: block;
    margin: 1em 0 -2em;
  }
}

/* Entry Content */

blockquote {
  position: relative;
  margin: 1.65em 0;
  padding: 0 2em;
  color: lighten($text-color, 20%);
  font-style: italic;
  @include min($sm) {
    padding: 0 4em;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\201C";
    color: lighten($lightest-blue, 7.5%);
    font-family: "Georgia", serif;
    font-size: 4em;
    font-style: normal;
    line-height: 1;
    @include min($sm) {
      font-size: 7em;
    }
  }
}

.wp-caption {
  a {
    border: 0;
  }
}

.alignright {
  max-width: 100%;
  margin: 0 auto 1em;
  @include min($sm) {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.alignleft {
  max-width: 100%;
  margin: 0 auto 1em;
  @include min($sm) {
    float: left;
    margin: 0 1em 1em 0;
  }
}

.aligncenter {
  display: block;
  max-width: 100%;
  margin: 0 auto 1em;
  text-align: center;
}

.wp-caption-text {
  font: .72em/2 $sans-serif;
  text-align: center;
}

#content {
  .post, .page {
    ul {
      margin: 1em 0;
      padding: 1em;
      list-style-type: square;
    }
    ol {
      margin: 1em 0;
      padding: 1em;
      list-style-type: decimal;
    }
  }
}
